* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; 
  display: flex;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top left, #6a00f4, #090979, #000000);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0,255,200,0.14), transparent 70%);
  pointer-events: none;
  mix-blend-mode: screen;
  transform: translate(-50%, -50%);
}


.login-card {
  width: 350px;
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(106, 0, 244, 0.6), 0 0 40px rgba(0, 255, 200, 0.4);
  animation: glowing 3s ease-in-out infinite alternate;
  transition: .4s ease-in-out;
}
.login-card:hover {
  transform: scale(1.02);
}

@keyframes glowing {
  from {
    box-shadow: 0 0 20px rgba(106, 0, 244, 0.5), 0 0 40px rgba(0, 255, 200, 0.3);
  }
  to {
    box-shadow: 0 0 40px rgba(106, 0, 244, 0.8), 0 0 80px rgba(0, 255, 200, 0.6);
  }
}

.login-card button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #6a00f4, #00ffc8);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.login-card button:hover {
  transform: scale(1.04);
  box-shadow: 0 0 20px rgba(106, 0, 244, 0.6), 0 0 30px rgba(0, 255, 200, 0.5);
}
